<div class="container-fluid jumbotron-footer p-1 m-0">
    <div class="row justify-content-center m-0 mt-1">
        <div class="col-md-5 col-sm-10">
            <h6>LinkedIn</h6>
            <p><a href="https://www.linkedin.com/in/ahmedhamid13/">Ahmed Abdelhamid</a></p>
        </div>
        <div class="col-md-5 col-sm-10">
            <h6>GitHub</h6>
            <p><a href="https://github.com/ahmedhamid13">Ahmed Abdelhamid</a></p>
        </div>
    </div>
    <div class="row justify-content-center m-0 mt-2">
        <div class="col-12 m-0">
            <p>Website_GitHub  2021&copy; <a href="#"> get-college_get_together</a></p>
        </div>
    </div>
</div>