<div id="mySidenav" class="sidenav">  
    <%# <a href="/pnr_search" id="blog"><%= fa_icon "search" Pnr</a> %>
    <a href="/home/contact" id="contact">Contact</a>
    <a href="/home/about" id="about">About</a>
</div>