<div class="jumbotron get-together-land p-5">
    <div class="container mt-2 p-3">
        <h1>College Get together</h1>
        <p>Are you ready to fly?</p>
        <br>

    </div>
</div>

<div class="container mt-2">
    <div class="row justify-content-center text-center">
        <div class="col-lg-10 m-2 rounded p-1">
            <h3>Get your Flight details by Pnr Now!</h3>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-3">
        <div class="col-lg-5 col-sm-10 col-xs-8 m-3 p-2 border <% if @dark_mode %>border-white<% else %>border-dark<% end %> rounded p-1 hvr-border-fade">
            <h3>Airline</h3>
            <hr>
            <p>Book your flight tickets on airline for best Offers/Discounts & Upgrade your ticket with Plus. Book With and Enjoy The Sky.
            </p>
        </div>
        <div class="col-lg-5 col-sm-10 col-xs-8 m-3 p-2 border <% if @dark_mode %>border-white<% else %>border-dark<% end %> rounded p-1 hvr-border-fade">
            <h3>Follow us</h3>
            <hr>
            <p>Airline is a company that provides air transport services for traveling passengers and freight. Airlines utilize aircraft to supply these services ..
            </p>
        </div>
    </div>
</div>