@import "app.css";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import 'font-awesome';
@import "toggling_theme.scss";
@import "scroll_bar.scss";
@import "animate.scss";
@import "custom_bootstrap.scss";
@import 'sidebar';
@import 'hover_min.scss';

.main{
    min-height: 650px !important;
}

.pagination {
    margin: 8px;

    .page {
        margin: 5px;
        padding: 5px;
        border: 1px solid #007bff;
        border-radius: 50% 50%;
        font-size: 18px;
    }
    .next{
        margin: 5px;
        padding: 5px;
        border: 1px solid #007bff;
        border-radius: 5px;
        font-size: 18px;
    }
    .last{
        margin: 5px;
        padding: 5px;
        border: 1px solid #007bff;
        border-radius: 5px;
        font-size: 18px;
    }
    .prev{
        margin: 5px;
        padding: 5px;
        border: 1px solid #007bff;
        border-radius: 5px;
        font-size: 18px;
    }
    .first{
        margin: 5px;
        padding: 5px;
        border: 1px solid #007bff;
        border-radius: 5px;
        font-size: 18px;
    }
}

@media (max-width:575.98px){.results-container-sm{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.results-container-sm>.table-bordered{border:0}}@media (max-width:767.98px){.results-container-md{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.results-container-md>.table-bordered{border:0}}@media (max-width:991.98px){.results-container-lg{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.results-container-lg>.table-bordered{border:0}}@media (max-width:1199.98px){.results-container-xl{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.results-container-xl>.table-bordered{border:0}}.results-container{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar}.results-container>.table-bordered{border:0}