$dark: rgba(42, 42, 42, 1);
$white: white;
$light-blue: #eff8ff;
$dark-blue: #002535;
$dark-green: #1d7c14;

.navbar {
    margin-bottom: 0;
    background: $light-blue;

    a {
        color: $dark;
    }

    button {
        color: $dark;
    }
}

body {
    background: $light-blue;
    color: $dark;
    font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: $dark;
}

.jumbotron {
    background: $dark-blue;
    color: $white;
    text-align: center;
    margin: 0;
    margin-top: 5px;
    border-radius: 0;

    p {
        color: $white;
        font-size: 22px;
    }
}

.jumbotron-footer {
    background: $dark-blue;
    color: $white;
    text-align: center;

    p {
        color: $white;
        font-size: 18px;
    }
}

.link {
    color: $dark;
}

.cover-get-together {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), asset_url("images/get-together.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    color: $dark !important;

    p {
        color: $dark !important;
    }

    min-height: 520px;
}

.get-together-land {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), asset_url("images/get-together-cover.jpg") !important;
    background-position: center !important;
    background-size: cover !important;
    color: $dark !important;

    p {
        color: $dark !important;
    }

    min-height: 580px;
}